<section class="page-container">
    <div class="page-title-container">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h4>User Signin</h4>
                </div>
                <div class="col-12 col-md-6">

                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <p>Submitting user information and receiving a signin token to be used when authenticating on the WeThinkCode_ platform.</p>
                    <article id="anchor-example-output">
                        <h5 class="text-weight-bold">Example output</h5>
                        <p>An example of what the output of a request made to this endpoint may look like:</p>
                        <div class="code-block">
                            POST /users/auth HTTP/1.1<br>
                            Host: server.example.com<br>
                            X-CSRF-Token: [GENERATED TOKEN]<br>
                            <br>
                            {<br>
                            <span style="margin-left:2em"></span>"code": "S0008",<br>
                            <span style="margin-left:2em"></span>"status": "success",<br>
                            <span style="margin-left:2em"></span>"message": "Signin success.",<br>
                            <span style="margin-left:2em"></span>"origin": "User Endpoint - User Authentication",<br>
                            <span style="margin-left:2em"></span>"data": {<br>
                            <span style="margin-left:2em"></span><span style="margin-left:2em"></span> "token": "kjsgf8isdf7gysd78f9dsf7hs9dfh.87DGYA7DGY7ydg7yDSGUY7ydg7yGDYsd.asjkdgfasdfjhkgaskdjhgfasdf1346"<br>
                            <span style="margin-left:2em"></span>},
                            <span style="margin-left:2em"></span>"priority": 10
                            }
                        </div>
                    </article>
                    <article id="anchor-request-body">
                        <h5 class="text-weight-bold">HTML request body</h5>
                        <p>These are the key-value pairs accepted in the body of your HTTP request within a JSON object:</p>
                        <table class="content-parameters">
                            <thead>
                            <tr>
                                <td>Title</td>
                                <td>Description</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>firstName</td>
                                <td>
                                    <div class="content-body-parameter-details">
                                        <span class="tag-required">required</span>
                                        <span class="tag-type">Type: String</span>
                                    </div>
                                    <div class="content-body-parameter-description">
                                        User first name.
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>lastName</td>
                                <td>
                                    <div class="content-body-parameter-details">
                                        <span class="tag-required">required</span>
                                        <span class="tag-type">Type: String</span>
                                    </div>
                                    <div class="content-body-parameter-description">
                                        User last name.
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>email</td>
                                <td>
                                    <div class="content-body-parameter-details">
                                        <span class="tag-required">required</span>
                                        <span class="tag-type">Type: String</span>
                                    </div>
                                    <div class="content-body-parameter-description">
                                        User email address. Must be valid email address and unique within records.
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>password</td>
                                <td>
                                    <div class="content-body-parameter-details">
                                        <span class="tag-required">required</span>
                                        <span class="tag-type">Type: String</span>
                                    </div>
                                    <div class="content-body-parameter-description">
                                        User password. Must be longer than 6 characters.
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>passwordRepeat</td>
                                <td>
                                    <div class="content-body-parameter-details">
                                        <span class="tag-required">required</span>
                                        <span class="tag-type">Type: String</span>
                                    </div>
                                    <div class="content-body-parameter-description">
                                        User password repeat. Must be exactly equal to "Password" variable.
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </article>
                </div>
                <div class="col-12 hidden-md-down col-lg-4">
                    <ul class="page-sidebar">
                        <li class="page-sidebar-item"><a href="#anchor-example-output">Example output</a></li>
                        <li class="page-sidebar-item"><a href="#anchor-request-body">HTML request body</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>