<section class="page-container">
    <div class="page-title-container">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h4>User Password Reset Initialization</h4>
                </div>
                <div class="col-12 col-md-6">

                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <p>Initialization of the password reset process. Before initializing this process an account must be activated. Should the reset process be initialized prior to account-activation, the account activation process shall be initialized instead.</p>
                    <article id="anchor-example-output">
                        <h5 class="text-weight-bold">Example output</h5>
                        <p>An example of what the output of a request made to this endpoint may look like:</p>
                        <div class="code-block">
                            POST /users/auth/reset HTTP/1.1<br>
                            Host: server.example.com<br>
                            X-CSRF-Token: [GENERATED TOKEN]<br>
                            <br>
                            {<br>
                            <span style="margin-left:2em"></span>"code": "S0007",<br>
                            <span style="margin-left:2em"></span>"status": "success",<br>
                            <span style="margin-left:2em"></span>"message": "Password reset process started successfully. Check your email to continue.",<br>
                            <span style="margin-left:2em"></span>"origin": "User Endpoint - User password reset init",<br>
                            <span style="margin-left:2em"></span>"priority": 9<br>
                            }
                        </div>
                    </article>
                    <article id="anchor-request-body">
                        <h5 class="text-weight-bold">HTML request body</h5>
                        <p>These are the key-value pairs accepted in the body of your HTTP request within a JSON object:</p>
                        <table class="content-parameters">
                            <thead>
                            <tr>
                                <td>Title</td>
                                <td>Description</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>identifier</td>
                                <td>
                                    <div class="content-body-parameter-details">
                                        <span class="tag-required">required</span>
                                        <span class="tag-type">Type: String</span>
                                    </div>
                                    <div class="content-body-parameter-description">
                                        Valid username or email address.
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </article>
                </div>
                <div class="col-12 hidden-md-down col-lg-4">
                    <ul class="page-sidebar">
                        <li class="page-sidebar-item"><a href="#anchor-example-output">Example output</a></li>
                        <li class="page-sidebar-item"><a href="#anchor-request-body">HTML request body</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>