<section class="home-header-container d-flex justify-content-center align-items-center">
    <div class="home-header-content">
        <h2 class="text-color-white text-weight-bold">WeThinkCode_</h2>
        <h5 class="text-color-white text-weight-light">For Developers</h5>
    </div>
</section>
<section class="home-content-container">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 hidden-md-down">
                <div class="row">
                   <div class="col-12 col-md-6 col-lg-4">
                       <a href="overview">
                           <div class="home-nav-link">
                               <div class="home-nav-link-icon">
                                   <svg><use xlink:href="#info-icon"></use></svg>
                               </div>
                               <div class="home-nav-link-title text-color-medium">Overview</div>
                           </div>
                       </a>
                   </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <a href="users">
                            <div class="home-nav-link">
                                <div class="home-nav-link-icon">
                                    <svg><use xlink:href="#users-icon"></use></svg>
                                </div>
                                <div class="home-nav-link-title text-color-medium">Users</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>