<section class="page-container">
    <div class="page-title-container">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h4>Overview</h4>
                </div>
                <div class="col-12 col-md-6">

                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <p>WeThinkCode_ for developers is a dedicated collection of REST API documentation, which allows WeThinkCode_ developers access to any and all information pertaining the WeThinkCode_ API. This documentation is intended serve as a reference, which enables WeThinkCode_ developers to not only become acquainted with the best practices used to develop the platform further, but also to allow for ease of development and integration as the platform grows.</p>
                    <article id="anchor-authorization">
                        <h5 class="text-weight-bold">Authorization</h5>
                        <p>Currently, the WeThinkCode_ API will only accept and respond to requests from an authorized client. This client must contain a secret token that can only be generated and authorized by a WeThinkCode authoring Server. In order for the API to accept any requests, this token must be passed in the header of every request in the following format:</p>
                        <div class="code-block">
                            GET /resource HTTP/1.1<br>
                            Host: server.example.com<br>
                            Authorization: Bearer <span class="example-text">[SECRET TOKEN]</span><br>
                        </div>
                        <p>If a request is made and an invalid token is submitted, a "401 Unauthorized" error shall be returned to the client. This event shall take place under the following conditions:</p>
                        <ul class="content-list">
                            <li>A token does not exist.</li>
                            <li>A token is expired.</li>
                            <li>A token cannot be verified by the signing authority.</li>
                            <li>A token does not have the correct permissions to access a resource</li>
                        </ul>
                    </article>
                    <article id="anchor-http-methods">
                        <h5 class="text-weight-bold">HTTP Methods</h5>
                        <p>To ensure the integrity and quality of the WeThinkCode_ platform, The WeThinkCode_ API only accepts a set of RESTful requests with JSON objects as the body. These include:</p>
                        <ul class="content-list">
                            <li><span class="text-weight-bold">GET</span> - Use this method when fetching singular and multiple records.</li>
                            <li><span class="text-weight-bold">POST</span> - Use this method when creating new records.</li>
                            <li><span class="text-weight-bold">PUT</span> - Use this method when replacing entire records</li>
                            <li><span class="text-weight-bold">PATCH</span> - Use this method when updating parts of a record</li>
                            <li><span class="text-weight-bold">DELETE</span> - Use this method when removing records</li>
                        </ul>
                    </article>
                    <article id="anchor-csrf">
                        <h5 class="text-weight-bold">CSRF</h5>
                        <p>In addition to accepting HTTP requests of a specific kind, to prevent CSRF attacks, The WeThinkCode_ API accepts a unique CSRF Token in the header. Upon response, the CSRF token wil be returned back to the client. Therefore, clients should always check that responses coming back from the server contain the same CSRF token. The token should take the following format in the header:</p>
                        <div class="code-block">
                            GET /resource HTTP/1.1<br>
                            Host: server.example.com<br>
                            X-CSRF-Token: <span class="example-text">[GENERATED TOKEN]</span><br>
                        </div>
                        <p>After a request has been made successfully and the server responds - if A CSRF token exists - it shall take the following format:</p>
                        <div class="code-block">{<br>
                            options: {<br>
                            <span style="margin-left:2em"></span>CSRFToken: "<span class="example-text">[TOKEN FROM HEADER]</span>"<br>
                            }<br>
                            }</div>
                    </article>
                    <article id="anchor-response-formats">
                        <h5 class="text-weight-bold">Response Formats</h5>
                        <p>After a valid HTTP request has been made to the WeThinkCode_ API server, a response shall be returned containing information about whether the request was successful or not, as well as, any status codes and any records pertaining to the request.</p>
                        <p> An unsuccessful response from the server shall contain the following:</p>
                        <div class="code-block">{<br>
                            code: "<span class="example-text">[FAILURE CODE]"</span>,<br>
                            status: <span class="example-text">failure</span><br>
                        }</div>
                        <p> A successful response from the server shall contain the following:</p>
                        <div class="code-block">{<br>
                            code: "<span class="example-text">[SUCCESS CODE]</span>",<br>
                            status: <span class="example-text">success</span><br>
                            }</div>
                        <p> A response from the server containing any records or information shall contain the following:</p>
                        <div class="code-block">{<br>
                            code: "[SUCCESS CODE]",<br>
                            data: {<br>
                            <span style="margin-left:2em"></span><span class="example-text">[RETURNED RECORDS]</span><br>
                            }<br>
                            status: success<br>
                            }</div>
                    </article>
                </div>
                <div class="col-12 hidden-md-down col-lg-4">
                    <ul class="page-sidebar">
                        <li class="page-sidebar-item"><a href="#anchor-authorization">Authorization</a></li>
                        <li class="page-sidebar-item"><a href="#anchor-http-methods">HTTP Methods</a></li>
                        <li class="page-sidebar-item"><a href="#anchor-csrf">CSRF</a></li>
                        <li class="page-sidebar-item"><a href="#anchor-response-formats">Response Formats</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>