<section class="page-container">
    <div class="page-title-container">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h4>Users</h4>
                </div>
                <div class="col-12 col-md-6">

                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <p>The <i>/users</i> endpoint focuses on user activities pertaining to the platform. The purpose of this endpoint serves to create users, retrieve update and delete user data</p>
                    <article id="anchor-creation">
                        <h5 class="text-weight-bold">Creation Endpoints</h5>
                        <table class="endpoint-links">
                            <tr>
                                <td class="endpoint-restriction"></td>
                                <td>
                                    <a href="/documentation/v1/users/create">
                                        <div class="endpoint-title">POST /users</div>
                                        <div class="endpoint-description">Creating a new user.</div>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="endpoint-restriction"></td>
                                <td>
                                    <a href="/documentation/v1/users/authentication">
                                        <div class="endpoint-title">POST /users/auth</div>
                                        <div class="endpoint-description">User signin.</div>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="endpoint-restriction"></td>
                                <td>
                                    <a href="/documentation/v1/users/password-reset-init">
                                        <div class="endpoint-title">POST /users/auth/reset</div>
                                        <div class="endpoint-description">User password reset process initialization.</div>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="endpoint-restriction"></td>
                                <td>
                                    <a href="/documentation/v1/users/add-user-quicklink">
                                        <div class="endpoint-title">POST /users/:id/quicklinks</div>
                                        <div class="endpoint-description">Add user quicklink.</div>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </article>
                    <article id="anchor-retrieval">
                        <h5 class="text-weight-bold">Retrieval endpoints</h5>
                        <table class="endpoint-links">
                            <tr>
                                <td class="endpoint-restriction"></td>
                                <td>
                                    <a href="/documentation/v1/users/get-users">
                                        <div class="endpoint-title">GET /users</div>
                                        <div class="endpoint-description">Retrieving all users.</div>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="endpoint-restriction"></td>
                                <td>
                                    <a href="/documentation/v1/users/authentication-verification">
                                        <div class="endpoint-title">GET /users/auth</div>
                                        <div class="endpoint-description">User authentication verification.</div>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="endpoint-restriction"></td>
                                <td>
                                    <a href="/documentation/v1/users/get-user">
                                        <div class="endpoint-title">GET /users/:id</div>
                                        <div class="endpoint-description">Retrieve a single user.</div>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="endpoint-restriction"></td>
                                <td>
                                    <a href="/documentation/v1/users/password-reset-token-verification">
                                        <div class="endpoint-title">GET /auth/reset/:id</div>
                                        <div class="endpoint-description">User password reset token verification.</div>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="endpoint-restriction"></td>
                                <td>
                                    <a href="/documentation/v1/users/get-user-quicklinks">
                                        <div class="endpoint-title">GET /:id/quicklinks</div>
                                        <div class="endpoint-description">Retrieve user quicklinks.</div>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </article>
                    <article id="anchor-updating">
                        <h5 class="text-weight-bold">Updating Endpoints</h5>
                        <table class="endpoint-links">
                            <tr>
                                <td class="endpoint-restriction"></td>
                                <td>
                                    <a href="/documentation/v1/users/activation">
                                        <div class="endpoint-title">PATCH /users/:id/auth/activation</div>
                                        <div class="endpoint-description">Activating a user account.</div>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="endpoint-restriction"></td>
                                <td>
                                    <a href="/documentation/v1/users/password-reset">
                                        <div class="endpoint-title">PATCH /users/:id/auth/reset</div>
                                        <div class="endpoint-description">Submitting new user password.</div>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </article>
                    <article id="anchor-deletion">
                        <h5 class="text-weight-bold">Deletion Endpoints</h5>
                        <table class="endpoint-links">
                            <tr>
                                <td class="endpoint-restriction"></td>
                                <td>
                                    <a href="/documentation/v1/users/remove-user-quicklink">
                                        <div class="endpoint-title">DELETE /users/:id/quicklinks</div>
                                        <div class="endpoint-description">Removing a user quicklink.</div>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </article>
                </div>
                <div class="col-12 hidden-md-down col-lg-4">
                    <ul class="page-sidebar">
                        <li class="page-sidebar-item"><a href="#anchor-creation">Creation Endpoints</a></li>
                        <li class="page-sidebar-item"><a href="#anchor-retrieval">Retrieval Endpoints</a></li>
                        <li class="page-sidebar-item"><a href="#anchor-updating">Updating Endpoints</a></li>
                        <li class="page-sidebar-item"><a href="#anchor-deletion">Deletion Endpoints</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>