<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,700|Roboto:300,400,700" rel="stylesheet">
</head>
<body>
    <svg style="display:none;">
        <symbol id="wethinkcode-logo" viewBox="0 0 50 50">
            <path d="M1,47.5C1,35.7,1,23.8,1,12c2.6-3.2,5.2-6.3,7.8-9.5c13.4,0,26.8,0,40.2,0c0,15,0,30,0,45
	C33,47.5,17,47.5,1,47.5z M20.2,39.6c0,0.3,0,0.5,0,0.8c0.3,0.1,0.5,0,0.7,0c0-2.2,0-4.5,0-6.7c-0.3,0-0.5,0-0.8,0c0,0.7,0,1.3,0,2
	c-0.1,0-0.3,0-0.4-0.1c-0.4,0-0.9-0.1-1.3,0.1c-0.5,0.1-0.8,0.4-1.1,0.8c-0.4,0.5-0.4,1.1-0.4,1.7c0,0.2,0,0.4,0.1,0.7
	c0.1,0.3,0.1,0.6,0.3,0.9c0.3,0.6,0.8,0.8,1.5,0.7c0.4,0,0.7-0.2,1-0.4C19.9,39.9,20,39.7,20.2,39.6z M7.6,24.5
	c0.3-0.8,0.5-1.6,0.8-2.4c0.2,0.8,0.5,1.6,0.8,2.4c0.3,0,0.7,0,1,0c0.2-1.6,0.5-3.1,0.7-4.7c-0.3,0-0.5,0-0.8,0
	c-0.1,1.3-0.3,2.5-0.4,3.8C9.3,22.7,9,21.8,8.7,21c-0.2,0-0.4,0-0.6,0c-0.3,0.9-0.6,1.8-0.9,2.6c0,0,0,0,0,0c0,0,0,0,0,0
	c-0.2-1.3-0.3-2.5-0.5-3.8c-0.3,0-0.5,0-0.8,0c0.2,1.6,0.5,3.2,0.7,4.7C6.9,24.5,7.2,24.5,7.6,24.5z M11.8,25.8c0,0.5,0,6.5,0,6.7
	c0.3,0,0.5,0,0.8,0c0-1.1,0-2.1,0-3.1c0.1-0.1,0.2-0.2,0.3-0.3c0.1-0.1,0.2-0.2,0.3-0.3c0.2-0.2,0.4-0.3,0.6-0.4
	c0.4-0.1,0.7,0,0.9,0.4c0.1,0.2,0.1,0.4,0.1,0.6c0,0.9,0,1.9,0,2.8c0,0.1,0,0.1,0,0.2c0.3,0,0.6,0,0.8,0c0-0.1,0-0.1,0-0.2
	c0-0.9,0-1.9,0-2.8c0-0.2,0-0.5-0.1-0.7c-0.1-0.5-0.4-0.8-0.8-1c-0.4-0.1-0.9-0.1-1.3,0.1c-0.2,0.1-0.4,0.2-0.6,0.4
	c-0.1,0.1-0.1,0.1-0.2,0.2c0-0.9,0-1.7,0-2.6C12.4,25.8,12.1,25.8,11.8,25.8z M32,32.5c0-0.1,0-0.1-0.1-0.1c-0.3-0.3-0.6-0.6-0.9-1
	c-0.4-0.4-0.7-0.8-1.1-1.2c-0.1-0.1-0.2-0.2-0.3-0.3c0.7-0.7,1.5-1.4,2.2-2.2c-0.1,0-0.1,0-0.1,0c-0.3,0-0.6,0-0.9,0
	c-0.7,0.7-1.4,1.4-2.1,2.2c0-0.7,0-1.4,0-2.1c0-0.7,0-1.3,0-2c-0.3,0-0.6,0-0.8,0c0,0.2,0,6.5,0,6.7c0.3,0,0.5,0,0.8,0
	c0-0.8,0-1.7,0-2.5c0.8,0.9,1.5,1.7,2.2,2.5C31.3,32.5,31.6,32.5,32,32.5z M15.8,22.4c0-0.5,0-1-0.1-1.5c-0.2-0.5-0.5-0.9-1-1.1
	c-0.2-0.1-0.4-0.1-0.6-0.1c-0.3,0-0.6,0-0.8,0.1c-0.7,0.2-1.2,0.8-1.4,1.5c-0.1,0.4-0.1,0.7-0.1,1.1c0,0.3,0.1,0.7,0.2,1
	c0.1,0.4,0.4,0.7,0.7,0.9c0.3,0.2,0.7,0.3,1.1,0.4c0.4,0,0.7,0,1.1,0c0.3,0,0.6-0.1,0.9-0.2c0-0.1,0-0.2,0-0.3c0-0.1,0-0.2,0-0.3
	c0,0-0.1,0-0.1,0c-0.5,0.1-1,0.2-1.5,0.2c-0.2,0-0.4,0-0.6-0.1c-0.5-0.2-0.9-0.8-0.8-1.4C13.6,22.4,14.7,22.4,15.8,22.4z M26.2,39.6
	c-0.5,0.1-1.2,0.3-1.8,0.2c-0.4,0-0.7-0.2-1-0.5c-0.2-0.3-0.3-0.6-0.2-0.9c1.1,0,2.2,0,3.3,0c0-0.2,0-0.4,0-0.6
	c0-0.3-0.1-0.6-0.2-0.9c-0.1-0.3-0.3-0.6-0.6-0.8c-0.6-0.4-1.2-0.4-1.8-0.3c-0.7,0.2-1.1,0.6-1.4,1.3c-0.2,0.4-0.2,0.9-0.2,1.3
	c0,0.3,0,0.5,0.1,0.8c0.2,0.6,0.5,1,1.1,1.2c0.3,0.1,0.7,0.2,1,0.2c0.2,0,0.5,0,0.7,0c0.2,0,0.4-0.1,0.7-0.1c0.1,0,0.3,0,0.4-0.1
	C26.2,40.1,26.2,39.9,26.2,39.6C26.2,39.7,26.2,39.6,26.2,39.6z M11.5,38.1c0,0.4,0.1,0.8,0.2,1.1c0.2,0.6,0.6,1,1.3,1.2
	c0.4,0.1,0.8,0.1,1.2,0.1c0.8-0.1,1.3-0.6,1.6-1.3c0.2-0.5,0.2-0.9,0.2-1.4c0-0.4-0.1-0.7-0.3-1.1c-0.2-0.5-0.6-0.8-1.1-1
	c-0.4-0.1-0.8-0.1-1.2-0.1c-0.8,0.1-1.3,0.5-1.6,1.2C11.6,37.2,11.5,37.7,11.5,38.1z M23.2,27.7c-0.2,0-0.6,0-0.7,0
	c0,1.6,0,3.1,0,4.7c0.3,0,0.5,0,0.8,0c0-1.1,0-2.1,0-3.1c0.2-0.2,0.4-0.5,0.6-0.7c0.2-0.1,0.3-0.3,0.5-0.3c0.4-0.1,0.8,0.1,0.9,0.5
	c0,0.2,0.1,0.4,0.1,0.5c0,0.9,0,1.9,0,2.8c0,0.1,0,0.1,0,0.2c0.3,0,0.5,0,0.8,0c0,0,0-0.1,0-0.1c0-1,0-2.1,0-3.1
	c0-0.3,0-0.5-0.1-0.8c-0.1-0.3-0.3-0.5-0.6-0.7c-0.2-0.1-0.3-0.1-0.5-0.1c-0.5-0.1-0.9,0-1.3,0.3c-0.2,0.1-0.3,0.3-0.5,0.5
	c0,0,0-0.1,0-0.1C23.2,28.1,23.2,27.9,23.2,27.7z M7.4,28.4c0,0.1,0,0.1,0,0.1c0,0.8,0,1.6,0,2.3c0,0.2,0,0.4,0.1,0.6
	c0.1,0.5,0.4,0.8,0.8,0.9c0.3,0.1,0.5,0.1,0.8,0.1c0.2,0,0.3,0,0.5,0c0.2,0,0.4-0.1,0.7-0.1c0,0,0.1,0,0.1,0c0-0.2,0-0.5,0-0.7
	c-0.3,0.1-0.5,0.1-0.8,0.1c-0.2,0-0.4,0-0.7,0c-0.3-0.1-0.5-0.3-0.6-0.6c0-0.1-0.1-0.2-0.1-0.4c0-0.7,0-1.5,0-2.2c0-0.1,0-0.1,0-0.2
	c0.2,0,0.5,0,0.7,0c0.2,0,0.5,0,0.7,0c0.2,0,0.5,0,0.7,0c0-0.2,0-0.5,0-0.7c-0.7,0-1.4,0-2.1,0c0-0.5,0-1,0-1.5
	c-0.3,0.1-0.6,0.1-0.8,0.2c0,0.4,0,0.8,0,1.3c-0.2,0-0.3,0-0.4,0c-0.2,0-0.3,0-0.5,0c-0.1,0-0.3,0-0.4,0c0,0.2,0,0.5,0,0.7
	C6.5,28.4,6.9,28.4,7.4,28.4z M10.2,39.5c-0.5,0.2-1,0.3-1.5,0.3c-0.6-0.1-1-0.4-1.2-0.9c-0.1-0.3-0.1-0.6-0.1-0.8
	c0-0.4,0.1-0.8,0.4-1.1c0.2-0.3,0.6-0.5,1-0.6c0.3,0,0.7,0,1,0.1c0.1,0,0.3,0.1,0.4,0.2c0-0.3,0-0.5,0-0.8c-0.1,0-0.2-0.1-0.2-0.1
	c-0.2-0.1-0.5-0.1-0.7-0.1c-0.3,0-0.6,0-0.9,0c-0.4,0.1-0.7,0.2-1,0.5c-0.5,0.4-0.7,1-0.8,1.7c0,0.3,0,0.7,0.1,1
	c0.1,0.4,0.2,0.7,0.5,1c0.4,0.4,0.9,0.6,1.4,0.6c0.4,0,0.8,0,1.2-0.1c0.2,0,0.4-0.1,0.5-0.2C10.2,40,10.2,39.7,10.2,39.5z
	 M19.6,31.8c0-0.2,0-0.4,0-0.6c0-0.2,0-0.4,0-0.6s0-0.4,0-0.6c0-0.2,0-0.4,0-0.6s0-0.4,0-0.6s0-0.4,0-0.6c0-0.2,0-0.4,0-0.6
	c-0.8,0-1.5,0-2.2,0c0,0.2,0,0.5,0,0.7c0.5,0,0.9,0,1.4,0c0,0.4,0,3.2,0,3.3c-0.5,0-1,0-1.5,0c0,0.2,0,0.5,0,0.7c0.2,0,3.7,0,3.8,0
	c0-0.2,0-0.5,0-0.7C20.5,31.8,20.1,31.8,19.6,31.8z M32.3,41.7c-0.2,0-5.2,0-5.3,0c0,0.2,0,0.4,0,0.6c0.2,0,5.2,0,5.3,0
	C32.3,42.1,32.3,41.9,32.3,41.7z M18.4,26.4c0,0.4,0.3,0.7,0.7,0.7c0.3,0,0.6-0.3,0.6-0.7c0-0.4-0.3-0.6-0.6-0.7
	C18.7,25.7,18.4,26,18.4,26.4z"/>
            <path d="M20.1,36.5c0,0.7,0,1.4,0,2.2c-0.3,0.4-0.5,0.7-1,1c-0.4,0.3-0.9,0.1-1.2-0.4c-0.1-0.2-0.1-0.4-0.2-0.6
	c0-0.3-0.1-0.6,0-0.8c0-0.3,0.1-0.6,0.2-0.8c0.2-0.4,0.5-0.6,0.9-0.7C19.2,36.3,19.6,36.3,20.1,36.5C20.1,36.5,20.1,36.5,20.1,36.5z
	"/>
            <path d="M12.5,21.8c0-0.4,0.3-1.1,0.8-1.3c0.6-0.3,1.5,0,1.7,0.9c0,0.1,0,0.1,0,0.2c0,0.1,0,0.2,0,0.3
	C14.1,21.8,13.3,21.8,12.5,21.8z"/>
            <path d="M23.1,37.7c0-0.5,0.3-1.2,0.9-1.4c0.5-0.1,1.1,0,1.4,0.5c0.1,0.3,0.2,0.5,0.2,0.9c-0.2,0-0.3,0-0.5,0
	c-0.2,0-0.3,0-0.5,0c-0.2,0-0.3,0-0.5,0c-0.2,0-0.3,0-0.5,0C23.4,37.7,23.3,37.7,23.1,37.7z"/>
            <path d="M12.3,38.1c0-0.5,0-0.8,0.3-1.2c0.2-0.4,0.5-0.6,1-0.6c0.2,0,0.3,0,0.5,0c0.4,0.1,0.7,0.3,0.8,0.7
	c0.2,0.4,0.2,0.9,0.2,1.3c0,0.2-0.1,0.4-0.2,0.6c-0.2,0.4-0.4,0.7-0.9,0.7c-0.5,0.1-0.9,0-1.3-0.4c-0.2-0.2-0.3-0.5-0.4-0.8
	C12.4,38.5,12.3,38.3,12.3,38.1z"/>
        </symbol>
        <symbol id="users-icon" viewBox="0 0 50 50">
            <path d="M48.5,29.6c-1.5-2.6-10.3-5.4-10.3-5.4s-2-0.6-1-1.3c1.3-1.1,2.2-2.9,2.4-4.5c0.1-0.1,0.1-0.1,0.2-0.2
	c0,0,0.3-0.9,0.2-2.2c0-0.4,0-0.9-0.1-1.4c0,0-0.6-3.5-3.7-4.1c0,0-2.6-0.6-4.3,0.4c-1.9,0.7-2.2,2.3-2.2,2.3
	C29.1,14.1,29,15,29,15.8c-0.1,1.2,0.3,2.1,0.3,2.1c0.1,0,0.2,0.1,0.3,0.3c0,1.8,1.1,3.7,2.4,4.9c0.6,0.4-0.5,0.9-0.5,0.9
	s-2.3,1-4.5,2.1c-0.4,0.2-0.9,0.4-1.3,0.6c-2.1-0.9-4.1-1.6-4.8-1.8c-0.3-0.1-2.3-0.9-1.4-1.7c1.5-1.3,2.6-3.4,2.7-5.2
	c0.1-0.1,0.1-0.1,0.3-0.2c0,0,0.3-1,0.3-2.6c0-0.5,0-1-0.1-1.6c0,0-0.7-4.2-4.4-4.8c0,0-3.1-0.8-5.1,0.5c-2.2,0.8-2.6,2.7-2.6,2.7
	c-0.6,0.9-0.7,2-0.6,2.9c-0.1,1.4,0.3,2.5,0.3,2.5c0.1,0,0.2,0.1,0.3,0.3c0,2.1,1.3,4.4,2.9,5.7c0.8,0.5-0.6,1-0.6,1
	s-2.7,1.2-5.4,2.5c-2.1,1-4.2,2.1-5.1,2.8c-1.7,1.5-3.2,6.1-1.9,8C9,41.8,22,43.4,32.9,38.3c5.6,0.4,11.6-0.4,16.9-3.2
	C50.5,33.8,49.2,30.8,48.5,29.6z"/>
        </symbol>
        <symbol id="info-icon" viewBox="0 0 50 50">
            <path d="M25,6.5C15.1,6.5,7,14.8,7,25c0,10.2,8.1,18.5,18,18.5c9.9,0,18-8.3,18-18.5C43,14.8,34.9,6.5,25,6.5z
		 M23.4,35.7c-0.9,0-1.6-0.3-2.2-0.8c-0.6-0.6-0.9-1.2-0.9-2c0-1,0.4-2.5,1.1-4.6c0.5-1.5,1.1-3.1,1.6-4.6h-2.2l0.6-1.8h2.1
		c1.5,0,3.2-0.5,4.9-1.6c-0.7,2.2-1.5,4.5-2.3,6.8c-1.2,3.7-1.8,5.8-1.8,6.3l0,0.3c0.6,0,1.3-0.4,2-1.1c0.2-0.2,0.7-0.8,1.4-1.8
		l1.7,0.9C27.5,34.4,25.5,35.7,23.4,35.7z M29.5,18.3c-0.5,0.6-1.1,0.9-1.7,0.9s-1.1-0.2-1.6-0.6c-0.4-0.4-0.7-0.8-0.7-1.4
		c0-0.7,0.3-1.3,0.8-1.9c0.5-0.6,1.2-0.9,1.9-0.9c0.6,0,1.1,0.2,1.5,0.6c0.4,0.4,0.5,0.9,0.5,1.5C30.3,17.2,30.1,17.7,29.5,18.3z"/>
        </symbol>
    </svg>
    <div class="navigation-container bottom-shadow">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <a href="/">
                        <div class="navigation-logo">
                            <svg><use xlink:href="#wethinkcode-logo"></use></svg>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {{{body}}}
</body>
</html>
