$wtc-primary-color: #1799d4
$wtc_white_color: #ffffff

//Text
.text-color-medium
  color: #78909C

.text-color-white
  color: $wtc-white_color

.text-weight-light
  font-weight: 100

.text-weight-medium
  font-weight: 300

.text-weight-bold
  font-weight: 700 !important


//effects
@mixin transition($attr, $speed)
  -webkit-transition: $attr $speed ease-in-out
  -moz-transition: $attr $speed ease-in-out
  -ms-transition: $attr $speed ease-in-out
  -o-transition: $attr $speed ease-in-out
  transition: $attr $speed ease-in-out
