@import "config"

.home-header-container
  width: 100%
  min-height: 400px
  background: url("/images/home-header-bg.jpg") center center
  background-size: cover
  padding: 80px
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 60px), 40% 100%, 0 calc(100% - 40px))
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 60px), 40% 100%, 0 calc(100% - 40px))

  .home-header-content
    text-align: center

.home-content-container
  padding: 60px 0

.home-nav-link-title
  width: 100%
  font-family: 'Roboto', sans-serif
  font-weight: 100
  text-align: center

.home-nav-link-icon
  text-align: center

  svg
    @include transition(all, 0.3s)
    fill: #CFD8DC
    width: 100%
    max-width: 120px
    height: 120px

.home-nav-link
  @include transition(all, 0.3s)
  cursor: pointer
  width: 100%
  padding: 30px
  border: 2px solid #ECEFF1
  border-radius: 5px

  &:hover
    background: #ECEFF1
    color: $wtc-primary-color

    .home-nav-link-title
      color: #37474F

    .home-nav-link-icon svg
      fill: #37474F

