@import 'config'

.navigation-container
  width: 100%
  max-height: 100px
  background: #fff
  padding: 10px
  z-index: 99
  position: relative

.navigation-logo
  width: 100%
  max-width: 180px
  height: 80px

  svg
    fill: $wtc-primary-color
    width: 100%
    max-width: 80px
    height: 100%
