.text-color-medium {
  color: #78909C; }

.text-color-white {
  color: #ffffff; }

.text-weight-light {
  font-weight: 100; }

.text-weight-medium {
  font-weight: 300; }

.text-weight-bold {
  font-weight: 700 !important; }

.navigation-container {
  width: 100%;
  max-height: 100px;
  background: #fff;
  padding: 10px;
  z-index: 99;
  position: relative; }

.navigation-logo {
  width: 100%;
  max-width: 180px;
  height: 80px; }
  .navigation-logo svg {
    fill: #1799d4;
    width: 100%;
    max-width: 80px;
    height: 100%; }

.text-color-medium {
  color: #78909C; }

.text-color-white {
  color: #ffffff; }

.text-weight-light {
  font-weight: 100; }

.text-weight-medium {
  font-weight: 300; }

.text-weight-bold {
  font-weight: 700 !important; }

.text-color-medium {
  color: #78909C; }

.text-color-white {
  color: #ffffff; }

.text-weight-light {
  font-weight: 100; }

.text-weight-medium {
  font-weight: 300; }

.text-weight-bold {
  font-weight: 700 !important; }

.home-header-container {
  width: 100%;
  min-height: 400px;
  background: url("/images/home-header-bg.jpg") center center;
  background-size: cover;
  padding: 80px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 60px), 40% 100%, 0 calc(100% - 40px));
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 60px), 40% 100%, 0 calc(100% - 40px)); }
  .home-header-container .home-header-content {
    text-align: center; }

.home-content-container {
  padding: 60px 0; }

.home-nav-link-title {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-align: center; }

.home-nav-link-icon {
  text-align: center; }
  .home-nav-link-icon svg {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    fill: #CFD8DC;
    width: 100%;
    max-width: 120px;
    height: 120px; }

.home-nav-link {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  width: 100%;
  padding: 30px;
  border: 2px solid #ECEFF1;
  border-radius: 5px; }
  .home-nav-link:hover {
    background: #ECEFF1;
    color: #1799d4; }
    .home-nav-link:hover .home-nav-link-title {
      color: #37474F; }
    .home-nav-link:hover .home-nav-link-icon svg {
      fill: #37474F; }

body {
  background: #fff !important;
  color: #90A4AE !important; }

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

a {
  color: #00B7FF; }
  a:hover {
    text-decoration: none !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif; }

.bottom-shadow {
  -webkit-box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.3); }

.code-block {
  width: 100%;
  padding: 30px;
  border: 1px solid #CFD8DC;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #ECEFF1;
  font-weight: 100;
  margin-bottom: 30px;
  font-size: 0.9em; }
  .code-block .example-text {
    color: #f44336; }

.page-content {
  padding: 30px 0; }
  .page-content article {
    margin-bottom: 30px; }

.page-title-container {
  background: #ECEFF1;
  color: #B0BEC5;
  padding: 20px; }

.page-sidebar {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid #CFD8DC;
  border-radius: 5px; }
  .page-sidebar li {
    font-size: 0.9em;
    width: 100%;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .page-sidebar li a {
      display: block;
      color: inherit;
      padding: 5px 10px !important;
      width: 100%; }
    .page-sidebar li:hover {
      background: #ECEFF1; }

.content-list {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100; }

.endpoint-links {
  width: 100%; }
  .endpoint-links tr {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ECEFF1; }
    .endpoint-links tr td {
      padding: 10px 10px; }
    .endpoint-links tr .endpoint-title {
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
      font-size: 1.2em;
      color: #1799d4;
      cursor: pointer; }
    .endpoint-links tr .endpoint-description {
      font-family: 'Open Sans', sans-serif;
      font-weight: 100;
      color: #90A4AE;
      cursor: pointer; }

.content-parameters {
  width: 100%; }
  .content-parameters thead tr {
    width: 100%;
    border-bottom: 2px solid #ECEFF1; }
    .content-parameters thead tr td {
      padding: 10px 0; }
  .content-parameters tbody {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100; }
    .content-parameters tbody tr {
      border-bottom: 1px solid #ECEFF1; }
      .content-parameters tbody tr td {
        padding: 5px 0; }
  .content-parameters .tag-required, .content-parameters .tag-optional {
    padding: 4px;
    background: #1799d4;
    color: #fff;
    font-size: 0.8em;
    font-weight: 100;
    border-radius: 5px; }
  .content-parameters .tag-optional {
    background: #B0BEC5;
    color: #78909C; }
  .content-parameters .tag-type {
    font-size: 0.8em;
    padding: 4px; }
  .content-parameters .content-body-parameter-description {
    padding: 8px 0; }

/*# sourceMappingURL=style.css.map */