@import 'navigation'
@import 'config'
@import 'home'

body
  background: #fff !important
  color: #90A4AE !important

p
  font-family: 'Open Sans', sans-serif
  font-weight: 300

a
  color: #00B7FF

  &:hover
    text-decoration: none !important

h1, h2, h3, h4, h5, h6
  font-family: 'Roboto', sans-serif

.bottom-shadow
  -webkit-box-shadow: 0 6px 6px -6px rgba(0,0,0,0.3)
  -moz-box-shadow: 0 6px 6px -6px rgba(0,0,0,0.3)
  box-shadow: 0 6px 6px -6px rgba(0,0,0,0.3)

.code-block
  width: 100%
  padding: 30px
  border: 1px solid #CFD8DC
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  background: #ECEFF1
  font-weight: 100
  margin-bottom: 30px
  font-size: 0.9em

  .example-text
    color: #f44336

//pages
.page-content
  padding: 30px 0

  article
    margin-bottom: 30px

.page-title-container
  background: #ECEFF1
  color: #B0BEC5
  padding: 20px

.page-sidebar
  width: 100%
  padding: 0
  margin: 0
  list-style: none
  border: 1px solid #CFD8DC
  border-radius: 5px

  li
    font-size: 0.9em
    width: 100%
    cursor: pointer
    @include transition(all, 0.3s)

    a
      display: block
      color: inherit
      padding: 5px 10px !important
      width: 100%

    &:hover
      background: #ECEFF1

.content-list
  font-family: 'Open Sans', sans-serif
  font-weight: 100

.endpoint-links
  width: 100%

  tr
    width: 100%
    background: #fff
    border-bottom: 1px solid #ECEFF1

    td
      padding: 10px 10px

    .endpoint-title
      font-family: 'Roboto', sans-serif
      font-weight: 600
      font-size: 1.2em
      color: #1799d4
      cursor: pointer

    .endpoint-description
      font-family: 'Open Sans', sans-serif
      font-weight: 100
      color: #90A4AE
      cursor: pointer

.content-parameters
  width: 100%

  thead
    tr
      width: 100%
      border-bottom: 2px solid #ECEFF1

      td
        padding: 10px 0

  tbody
    font-family: 'Open Sans', sans-serif
    font-weight: 100

    tr
      border-bottom: 1px solid #ECEFF1

      td
        padding: 5px 0

  .tag-required, .tag-optional
    padding: 4px
    background: #1799d4
    color: #fff
    font-size: 0.8em
    font-weight: 100
    border-radius: 5px

  .tag-optional
    background: #B0BEC5
    color: #78909C

  .tag-type
    font-size: 0.8em
    padding: 4px

  .content-body-parameter-description
    padding: 8px 0